@import "../base/index.scss";

.breakfastimg{
    z-index: -1;
    border-radius: 25px;
    width: 100%;
}
.breakfasttext{
    position: absolute;
    font-weight: bolder;
    font-size:3em ;
    color: $white;
    -webkit-text-stroke: 2px $black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}