@import "../base/index.scss";

.searchform{
    width:100%;
    border: 2px solid $green ;
    display: flex;
    padding: 0;
    border-radius: 15px;
}

.searchform input{
    width: 100%;
    outline: none;
    font-size: 2em;
    padding: 0 1%;
    border: none;
}

.searchform .button2 i{
    font-size: 1.1em;
    margin: 0 5%;
}