.button1 {
	background-color:transparent;
	border-radius:42px;
	border:1px solid #748a7a;
	display:inline-block;
	cursor:pointer;
	color:#748a7a;
	font-family:Arial;
	font-size:28px;
	padding:21px 53px;
	text-decoration:none;
}
.button1:active {
	position:relative;
	top:1px;
}

.button2 {
	background-color:#44c767;
    border-radius:10px;
    border-color: #44c767;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:21px 53px;
	text-decoration:none;
}

.button2:active {
	position:relative;
	top:1px;
}

.button3 {
	background-color:#2d4bac;
	border-radius:10px;
	border:1px solid #113a77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:21px 53px;
	text-decoration:none;
}

.button3:active {
	position:relative;
	top:1px;
}
