.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .avatar1 {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }