body{
    font-family: 'Yusei Magic', sans-serif;
}

.editAlert1 {
    padding: 20px;
    background-color : #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
  }
.editAlert2 {
    
    padding: 20px;
    background-color : #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
  }
.editAlert3 {
    
    padding: 20px;
    background-color : #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
  }  
  
.closebtn {
    
    margin-right: 30px;

    color: rgb(0, 0, 0);
    font-weight: bolder ;
    float: right;
    font-size: 30px;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items:;
    
    
  }
  
.closebtn:hover {
    color: rgb(128, 65, 65);
  }

.yay{
    font-weight: bold;
  }
.mmh{
    font-weight: bold;
}
.oops{
    font-weight: bold;
}
.pp{
    text-decoration: none;
}

.message1{
    border: 3px solid #20dc88;
    border-radius:5px ;
    padding: 25px ;
    font-weight: lighter;
  }
.message2{
    border: 3px solid #fec65a;
    border-radius:5px ;
    padding: 25px ;
    font-weight: lighter;
  }
.message3{
    border: 3px solid #fd1315;
    border-radius:5px ;
    padding: 25px ;
    font-weight: lighter;
  }  